body {
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 350px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin: 100px 0 0 0;
}

.expired {
  font-size: 150px; /* Adjust the size as needed */
  color: red;
}

button {
  margin: 5px;
  font-size: 18px;
}

#position-dropdown {
  margin-top: 10px;
  text-align: center;
  background-color: #02361C;
  color: #F9FCFB;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  font-size: 50px;
  cursor: pointer;
}

#positions {
  background-color: #02361C;
  color: #F9FCFB;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 50px;
  cursor: pointer;
}

#timerButtons,
#pauseButton {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #F9FCFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.4;
  margin: 50px 0 0 0;
}

#resetButton, 
#startSoundButton, 
#tenSecondSoundButton,
#endSoundButton {
  border: none;
  padding: 8px 10px;
  margin: 20px 0 0 0;
  border-radius: 5px;
  background-color: #F9FCFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  opacity: 0.4;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 0;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 80px 0 0 0;
}

.button-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.custom-timer-container {
  margin-top: 20px;
}

.custom-timer-container input {
  padding: 10px;
  font-size: 13px;
  border: none;
  
  border-radius: 5px;
  background-color: #F9FCFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 20%;
}

.expired-container {
  font-size: 0;
  margin-top: 20px;
  display: none;
}

.expired-message {
  font-size: 150px;
  color: red;
  display: none;
}

.additional-buttons-container {
  display: flex;
  flex-direction: row;
}

#round-dropdown {
  margin-top: 130px;
  text-align: center;
  background-color: #F9FCFB;
  color: #F9FCFB;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  font-size: 50px;
}

#rounds {
  background-color: #F9FCFB;
  color: #02361C;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}